body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.element {
  max-width: 300px;
  list-style: none;
  background-color: aquamarine;
  padding: 5px;
  margin: 5px auto;
}

h2 {
  margin: 5px auto;
  width: 110px;
}

h1 {
  display: flex;
  justify-content: center;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  margin-top: 200px;
}

.item {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  background-color: olive;
}

.list {
  padding: 0;
}

.Wrapper {
  display: block;
  width: 300px;
  margin: 0 auto;
}

